<!DOCTYPE html>
<html>
<head>
<body>
<title>Sinatra Warden</title>

<h1>User authentication</h1>

<p>
  <% if current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div style="color:green;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>